@import "reset";
@import "config";
@import "mixin";

.blind {
    @include blind();
}

.h1 {
    font-size: $G-config-heading-font-size;
    color: #000;

    @include dark-mode() {
        color: #fff;
    }
}